@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400;1,500&family=Titillium+Web:wght@900&display=swap');
body {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-image: url('images/Rectangle.png');
    text-align: center;
  }
 

  div{
    align-items: center;
    left:50%;
    top:50%;
    right: 50%;
    bottom: 50%;
  }

.font{
color: #091133;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;

}

.font{
  padding-top: 100px;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}



p#price{
display: flex;
height: 48px;
top: 0px;
font-weight: 500;
font-size: 36px;
line-height: 48px;
color: #091133;
font-family: 'roboto';
}

.center{
    height: 78px; 
    width: 600px;
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
  

}
div#money{
height: 66px;
left: 545px;
right: 545px;
top: 4022.82px;
font-weight: 500;
font-size: 50px;
line-height: 66px;
letter-spacing: 1px;
color: #222F65;

}

div#ui{
height: 26px;
left: 545px;
right: 545px;
top: 4088.82px;
font-size: 16px;
line-height: 26px;
color: #37447E;
padding-bottom: 20px;

}
.log{
    
    font-size: 14px;
    line-height: 24px;
    color: #5D6970;
    padding-top: 20px;
}

.centro{
width: 189px;
height: 24px;
padding: 2px #111B47;
color: #FFFFFF;
background-color: #111B47;
border-radius: 2px;
text-decoration: none;
font-size: 14px;
line-height: 24px;
border-color: #111B47;
border-top: 8px #111B47;
padding-bottom: 10px;
}
div#down{
  padding-bottom: 100px;


}
div#space{
  padding: 60px;
}

.find{
background-image: url('images/Rectangle_footer.png');
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
color: #939EA4;
height: 216px;
width: 1440px;
margin-bottom: -10px;

}

.find ul#laan{
font-size: 26px;
font-style: normal;
font-weight: 900;
line-height: 38px;
letter-spacing: 0px;
text-decoration: bold;
text-align: center;
color: #37447E;
}

.find ul#contact{

display: flex;
flex-direction: initial;
padding: 2px;

}
p#copiright{
  position: relative;
  right: 500px;
  padding:20px;
  margin-rigth: -40px;
}

.x{
list-style-type: none;
padding: 10px;
left: 100px;
margin-rigth: -40px;
}

li#y{
  list-style-type: none;
  padding: 10px 10px 10px 150px;
  left: 200px;
  margin-rigth: -40px;
  
  }

/*simbolos */


.icones{
  list-style-type: none;
  display: flex;
  flex-direction: initial;
  padding-left: 1150px; 
  margin-top: -65px;
  margin-left: -40px;
}

.icones li{
  padding: 10px;
  border-top: -20px;
}





